{% extends 'base.html' %}

{% block content %}


<div class="col-md-6 offset-md-3">
    <h4>Change Password</h4>
    <form method="POST">
        {% csrf_token %}
        <input type="password" name="old_password" placeholder="Current Password" class="form-control mb-2" required>
        <input type="password" name="new_password1" placeholder="New Password" class="form-control mb-2" required>
        <input type="password" name="new_password2" placeholder="Confirm New Password" class="form-control mb-2" required>
        {% if error %}
            <p class="text-danger">{{ error }}</p>
        {% endif %}
        <a href="{% url 'manage_account' pk=user_id %}" class="btn btn-primary">Confirm</a>
        <a href="{% url 'manage_account' pk=user_id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}