{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-dark mb-3" style="background-color: #590404;">
    <div class="d-flex align-items-center px-3" style="gap: 20px;">
        <span class="navbar-brand">AstovC</span>
        <a class="navbar-brand" href="{% url 'main_page' %}"><small>Invoice List</small></a>
        <a class="navbar-brand" href="{% url 'create_invoice' %}"><small>Create Invoice</small></a>
        <a class="navbar-brand" href="{% url 'profiles' %}"><small>Profiles</small></a>
    </div>
    <a class="navbar-brand" href="?logout=true"><small>Logout</small></a>     
</nav>

<div class="col-md-6 offset-md-3">
    <h4>Change Password</h4>
    <form method="POST">
        {% csrf_token %}
        <input type="password" name="old_password" placeholder="Current Password" class="form-control mb-2" required>
        <input type="password" name="new_password1" placeholder="New Password" class="form-control mb-2" required>
        <input type="password" name="new_password2" placeholder="Confirm New Password" class="form-control mb-2" required>
        {% if error %}
            <p class="text-danger">{{ error }}</p>
        {% endif %}
        <a href="{% url 'manage_account' pk=user_id %}" class="btn btn-primary">Confirm</a>
        <a href="{% url 'manage_account' pk=user_id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}