{% extends 'base.html' %}

{% block content %}

<div class="container" style="max-width: 900px;">
    <div class="col-md-6 offset-md-3">
        <h4>Manage Account</h4>
        <p><b>Username:</b> {{ account.username }}</p>
        <a href="{% url 'change_password' pk=account.pk %}" class="btn btn-warning">Change Password</a>
        <a href="{% url 'delete_account' pk=user_id %}" class="btn btn-danger">Delete Account</a>
        <a href="{% url 'main_page' %}" class="btn btn-secondary">Back</a>
    </div>
</div>
{% endblock %}