{% extends 'base.html' %}

{% block content %}


<div class="container" style="max-width: 900px;">
    <div class="row justify-content-center">
        <div class="card col-4">
            <div class="card-body pb-2">
                <h4 class="text-center">Sign Up</h4>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-success w-100 mt-2">Sign up</button>
                </form>
            </div>

            {% if message %}
                <div class="text-danger text-center mb-3">{{ message }}</div>
            {% endif %}

            <div class="text-center mb-3">
                <p>Already have an account? <a href="{% url 'home' %}" class="text-decoration-none"><b>Login</b></a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}